@model Ingress
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localize
@{
	ViewData["Title"] = @localize["ingress"];
}


<form method="post" asp-action="Decode">

	<div class="border p-3 mt-4" style="text-align: center;">
		<div classs="row pb-2">
			<h2 class="text-primary">
				@localize["ingressRegis"]
			</h2>
		</div>
		<div class="mb-3">
			<input asp-for="Barcode.Code" class="form-control" maxlength="300" type="password" autofocus />
			<span asp-validation-for="Barcode.Code" class="text-danger"> </span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">@localize["register"]</button>
		@* <!-- Button trigger modal --> *@
		<button type="button" onclick="getAllContries()" class=" btn btn-secondary" data-bs-toggle="modal"
			data-bs-target="#registerModal">
			@localize["addManually"]
		</button>
	</div>
</form>


@if (@Group.PeopleList.Any())
{
	<div class="border p-3 mt-4" style="text-align: center;">
		<form method="post" asp-action="SaveGroup">

			<table class="table table-bordered table-striped">
				<caption>@localize["orderSummary"]</caption>
				<thead>
					<tr class="table-primary" style="text-align: center;">
						<th>@localize["name"]</th>
						<th>@localize["category"]</th>
						<th>@localize["amountPaid"]</th>
						<th>@localize["ingressDate"]</th>
						<th>@localize["delete"]</th>
					</tr>
				</thead>

				<tbody>

					@foreach (var obj in @Group.PeopleList)
					{
						<tr class="table-light">
							<td> @obj.Key.FullName</td>
							<td> @obj.Value.Name </td>
							<td> @obj.Value.Price.ToString("C0") </td>
							<td> @obj.Key.RegisterDateTime </td>

							<td style="text-align: center;">
								<div class="w-75 btn-group" role="group">
									<a asp-controller="Ingress" asp-action="Delete" asp-route-id="@obj.Key.Id"
								class="btn btn-danger">
										<i class="bi bi-x-square-fill"></i>
									</a>
								</div>
							</td>
						</tr>
					}

				</tbody>

				<tfoot>
					<tr class="table-active">
						<th>@localize["numberVisitors"] &nbsp; @Group.PeopleList.Count</th>
						<th>@localize["total"]</th>
						<td>@Group.Total.ToString("C0")</td>
					</tr>
				</tfoot>
			</table>

			<button type="submit" class="btn btn-primary">@localize["procedPayment"]</button>

		</form>
	</div>
}

@* <!-- Modal --> *@
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header bg-light">
				<h5 class="modal-title" id="registerModalLabel">
					<i class="bi bi-person-plus-fill"></i> &nbsp;
					@localize["regNewVisitor"]
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post" asp-action="SaveManual">
				<div class="modal-body">

					<script type="text/javascript" src="~/js/site.js"></script>

					<div class="mb-3">
						<label asp-for="Manual.Person.Id">@localize["id"]</label>
						<input asp-for="Manual.Person.Id" class="form-control" />
						<span asp-validation-for="Manual.Person.Id" class="text-danger"> </span>
					</div>

					<div class="mb-3">
						<label asp-for="Manual.Person.FullName">@localize["name"]</label>
						<input asp-for="Manual.Person.FullName" class="form-control text-uppercase" />
						<span asp-validation-for="Manual.Person.FullName" class="text-danger"> </span>
					</div>

					<div class="row mb-3">
						<div class="col">
							<label asp-for="Manual.Person.Age">@localize["age"]</label>
							<input asp-for="Manual.Person.Age" type="number" class="form-control">
							<span asp-validation-for="Manual.Person.Age" class="text-danger"> </span>
						</div>
						<div class="col">
							<label asp-for="Manual.Person.Gender">@localize["gender"]</label>
							<select class="form-select" asp-for="Manual.Person.Gender">
								<option selected></option>
								<option value="F">@localize["female"]</option>
								<option value="M">@localize["male"]</option>
								<option value="NB">@localize["nonBinary"]</option>
								<option value="UF">@localize["undefined"]</option>
							</select>
							<span asp-validation-for="Manual.Person.Gender" class="text-danger"> </span>
						</div>
					</div>

					<div class="mb-3">
						<label asp-for="Manual.Person.Country">@localize["country"]</label>
						<select id="countries" class="form-select" asp-for="Manual.Person.Country">
							<option selected> </option>
						</select>
						<span asp-validation-for="Manual.Person.Country" class="text-danger"> </span>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localize["close"]</button>
					<button type="submit" class="btn btn-primary">@localize["save"]</button>
				</div>

			</form>
		</div>
	</div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}




@* <button type="submit" onclick="getUsersTable()" class="btn btn-primary" style="width:150px"> Tabla </button>


	<button type="submit" onclick="getImage('Hola')" class="btn btn-primary" style="width:150px"> QR </button>
	<img id="image">


	<div id="qr-image"> </div>

	<div id="users-table"> </div> *@
