
@using Hyka.Areas.Identity.RolesDefinition
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localiza
@{
    var user = SignInManager.UserManager.GetUserAsync(User).Result;
    bool isAdmin = false;
    bool isBlockbuster = false;
    if (user != null)
    {
        isAdmin = SignInManager.UserManager.IsInRoleAsync(user, Roles.ADMIN).Result;
        isBlockbuster = SignInManager.UserManager.IsInRoleAsync(user, Roles.BLOCKBUSTER).Result;
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav me-auto">
        @if (isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Blockbuster" asp-action="Index">Blockbuster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Tariff" asp-action="Index">Tariff</a>
            </li>
        }
        else if (isBlockbuster)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Ingress" asp-action="Ingress">Ingress</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" asp-controller="Report" asp-action="Report">Reports</a>
        </li>
        @* <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Reports</a>

            <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Report" asp-action="Report">Reporte diario </a>
            <a class="dropdown-item" asp-controller="Report" asp-action="GenerateReport">Opciones</a>
            </div>
            </li> *@
    </ul>
    @* Manage user profile *@
    <ul class="navbar-nav">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
                @UserManager.GetUserName(User)
                <em class="bi bi-person-circle"></em>
            </a>
            <div class="dropdown-menu">

                <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index"
                title="Manage">Profile</a>

                <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Email"
                title="Manage">Email</a>

                <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/ChangePassword"
                title="Manage"> Change Password</a>

                <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/PersonalData"
                title="Manage"> Personal Info</a>

                <div class="dropdown-divider"></div>

                <form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="text-danger dropdown-item">Logout</button>
                </form>

            </div>
        </li>
    </ul>
}
@* main view *@
else
{
    <ul class="navbar-nav me-auto">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">@localiza["inicio"]</a>
            <span class="visually-hidden">(current)</span>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">@localiza["serv"]</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">@localiza["serv_in"]</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Privacy">@localiza["priv"]</a>
        </li>

    </ul>

    <ul class="navbar-nav">
        <li class="nav-item my-2">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@localiza["login"]</a>
        </li>
        <li class="nav-item my-2 mx-2">
            <a class="nav-link btn btn-outline-light" id="register" asp-area="Identity"
               asp-page="/Account/Register">@localiza["reg"]</a>
        </li>
    </ul>
}

<partial name="_Lenguaje" />
