@model ReportParamsDto
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localize

@{
    var data = TempData["report"] as String;
    var dateTime = TimeZoneInfo.ConvertTimeFromUtc(DateTimeOffset.UtcNow.DateTime, TimeZoneInfo.FindSystemTimeZoneById("SA Pacific Standard Time"));
    ViewData["Title"] = "Reports";
}

<div class="col-sm-8 col-md-7 col-lg-5 col-xl-4 p-3 my-3 mx-auto text-center">
    @* <!-- Accordion Card --> *@
    <div class="accordion mb-3" id="accordReports">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOneReport">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseReports" aria-expanded="false" aria-controls="collapseReports">
                    <i class="bi bi-file-earmark-text"></i> &nbsp;&nbsp; Opciones
                </button>
            </h2>
            <div id="collapseReports" class="accordion-collapse collapse show" aria-labelledby="headingOneReport"
                data-bs-parent="#accordReports">
                <div class="accordion-body">
                    <form method="post" asp-action="GenerateReport">
                        <div classs="row pb-2">
                            <h2 class="text-xxl-center">
                                Exportar datos
                            </h2>
                        </div>

                        <div class="form-floating my-3">
                            <select class="form-select" asp-for="Type">
                                <option value="People">Usuarios</option>
                                <option value="History">Registros</option>
                            </select>
                            <label asp-for="Type">Seleccionar tipo</label>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>

                        <div class="collapse" id="collapseReport">
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <i class="bi bi-info-circle-fill"></i> Se exportán todos los registros.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>

                        <div class="collapse show" id="collapseReport">
                            <div class="form-floating my-3">
                                <input asp-for="StartDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}" type="date"
                                    value='@dateTime.ToString("yyyy-MM-dd")'>
                                <label asp-for="StartDate" class="form-label">@localize["startDate"]</label>
                                <span asp-validation-for="StartDate" class="text-danger"> </span>
                            </div>

                            <div class="form-floating my-3">
                                <input asp-for="EndDate" class="form-control" pattern="\d{4}-\d{2}-\d{2}" type="date"
                                    value='@dateTime.ToString("yyyy-MM-dd")'
                                    max='@dateTime.ToString("yyyy-MM-dd")'>
                                <label asp-for="EndDate" class="form-label">@localize["endDate"]</label>
                                <span asp-validation-for="EndDate" class="text-danger"> </span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" style="width:150px">@localize["export"]</button>

                        <input asp-for="IsFiltered" data-bs-toggle="collapse" data-bs-target="#collapseReport"
                            type="checkbox" class="btn-check" id="btn-check-outlined" checked>
                        <label class="btn btn-outline-dark" for="btn-check-outlined">
                            <i class="bi bi-sliders"></i></label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (data != null)
{
    <div id="load" style="transition: all 1.5s;" class="loader text-center"></div>
    <div id="report" style="visibility: hidden;transition: all 1.5s;opacity: 0;" class="border p-3 mt-4 table-responsive">
        <table id="report_table" class="table align-middle table-hover cell-border compact">
            <thead class="align-middle">
                <tr id="rows"class="table-dark"></tr>
            </thead>
        </table>
    </div>
}

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<partial name="_DataTable" />
<script src="~/js/report.js"></script>
<script type="text/javascript"> generateReportTable('@data') </script>
}