@model Blockbuster
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localize
<form method="post" asp-action="Delete">

    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">

        <div classs="row pb-2">
            <h2 class="text-primary">
                @localize["deleteBlockbuster"]
            </h2>
        </div>
        <div class="mb-3">
            <label asp-for="Id">@localize["id"]</label>
            <input asp-for="Id" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Names">@localize["name"]</label>
            <input asp-for="Names" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Surnames">@localize["surname"]</label>
            <input asp-for="Surnames" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Age">@localize["age"]</label>
            <input asp-for="Age" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Gender">@localize["gender"]</label>
            <input asp-for="Gender" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Email">@localize["email"]</label>
            <input asp-for="Email" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">@localize["delete"]</button>
        <a asp-controller="Blockbuster" asp-action="Index" class="btn btn-primary" style="width:150px">@localize["viewList"]</a>
    
    </div>

</form>
